.blog {
    text-align: center;
    margin-top: 7.3rem;
}

.blog-title {
    font-family: "Cormorant";
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
    color: $dark;
    
    margin-bottom: 0;
}

.blog-link,
.blog-body__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $dark;
    text-decoration: none;

    display: inline-block;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $brown;
        bottom: -4px;
        left: 0;
    }

    transition: 0.3s;
    margin-top: 1.2rem;
}

.blog-link:hover {
    color: $brown;
}

.blog-link:active {
    opacity: 0.7;
}

.blog-body {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-wrap: wrap;
    margin-top: 4rem;
    padding: 0 10px;
    row-gap: 30px;
}

.blog-body__event {
    display: flex;
    justify-content: flex-start;
}
.blog-body__image {
    max-height: 300px;
}

.blog-body__image img {
    width: 100%;
}

.blog-body__description {
    background-color: $background-grey;
    text-align: center;
    width: 100%;
    flex: 0 1 49%;
    height: 300px;
}

.blog-body__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: $grey;
    margin-top: 4.2rem;
    margin-bottom: 0;
}
.blog-body__title {
    font-family: "Cormorant";
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: $dark;
    margin-top: 0.9rem;
    padding-left: 3.1rem;
    padding-right: 3rem;
}
.blog-body__link {
    bottom: 0;
}

.blog-body__description--care {
    position: relative;
    left: -7px;
}

.blog-body__event--crystals {
    grid-row: 2;
}

.blog-body__event--crystals .blog-body__description {
    order: 0;
}

.blog-body__event--crystals .blog-body__image {
    order: 1;
}

.blog-body__event--crystals .blog-body__title {
    padding: 0 4rem;
}

.blog-body__event--crystals .blog-body__image img {
    position: relative;
    left: -5px;
}

.blog-body__event--trends {
    position: relative;
    grid-row: 0/2;
}

.blog-body__event--trends .blog-body__description {
    position: absolute;
    width: 49%;
    height: 300px;
    bottom: -110%;
    right: 0;
}

.blog-body__event--trends .blog-body__image {
    transform: translateX(15px);
}

@media (max-width: $desktop-width) {
    .blog {
        margin-top: 6.8rem; 
    }

    .blog-body {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    .blog-body__event {
        justify-content: center;
    }

    .blog-body__title {
        padding-left: 5.5rem;
        padding-right: 4.8rem;
    }

    .blog-body__link {
        bottom: 2px;
        left: 7px;
    }

    .blog-body__image img {
        width: 339px;
        height: 300px;
    }

    .blog-body__description {
        flex: 0 1 45%;
    }

    .blog-body__event--crystals .blog-body__title {
        padding: 0 7rem;
    }

    .blog-body__event--crystals .blog-body__link {
        left: 0;
    }

    .blog-body__event--trends .blog-body__description {
        position: static;
        flex: 0 1 100%;
    }

    .blog-body__event--trends .blog-body__image {
        transform: translateX(0);
    }

    .blog-body__event--trends .blog-body__text {
        margin-top: 5.4rem;
    }

    .blog-body__event--trends .blog-body__title {
        padding-left: 4.7rem;
    }

    .blog-body__event--trends .blog-body__link {
        left: 0;
        bottom: 4px;
    }

}

@media (max-width: $tablet-width) {
    .blog {
        margin-top: 3.4rem; 
    }

    .blog-body {
        margin-top: 3.5rem;
        padding: 0 15px;
        row-gap: 0;
        
    }

    .blog-body__event {
        flex-direction: column;
    }

    .blog-body__text {
        margin-top: 2.7rem;
    }

    .blog-body__title {
        padding-left: 3.5rem;
        padding-right: 3.6rem;
    }

    .blog-body__link {
        bottom: 2px;
        left: 0;
    }

    .blog-body__image img {
        width: 100%;
        height: 256px;
    }

    .blog-body__description {
        flex: 0 1 100%;
        padding-bottom: 56px;
        width: 100%;
    }

    .blog-body__description--care {
        left: 0px;
        bottom: 5px;
    }

    .blog-body__event--crystals {
        margin-top: 1.85rem;
    }

    .blog-body__event--crystals .blog-body__title {
        padding: 0 4rem;
    }

    .blog-body__event--crystals .blog-body__description {
        order: 1;
        position: relative;
    }

    .blog-body__description--crystals .blog-body__text {
        margin-top: 2.6rem;
    }

    .blog-body__event--trends {
        margin-top: 2rem;
    }

    .blog-body__event--trends .blog-body__description {
        flex: 0 1 100%;
        width: 100%;
    }


    .blog-body__event--trends .blog-body__text  {
        margin-top: 3.5rem;
    }

    .blog-body__event--trends .blog-body__title {
        padding-left: 3.6rem;
    }

}