.footer {
    color: $white;
    background-color: $black;
    min-height: 338px;
    padding-top: 3rem;
    margin-top: 8.1rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 225px;
}

.singup {
    flex: 0 1 43%;
}

.singup-title {
    font-family: "Cormorant";
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.03em;
    margin-top: 2.6rem;
    margin-bottom: 0;
    padding-left: 0.3rem;

    color: $white;
}

.singup-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    margin-top: 0.6rem;
    padding-left: 0.6rem;

    color: $grey;

}

.singup-field {
    display: flex;
    width: 100%;
    margin-top: 2.7rem;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        width: 98%;
        height: 1px;
        background-color: $white;
        left: 10px;
        bottom: -8px;
    }
}

.singup-input {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: $white;

    border: none;
    background-color: $black;
    margin-left: 0.6rem;
    &::placeholder {
        color: #9B9997;
    }
}

.signup-button {
    margin-left: auto;
    margin-right: 2.7rem;
    cursor: pointer;
    position: relative;
    color: $white;
    text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        width: 29px;
        height: 9px;
        top: 5px;
        right: -41px;
        background: url('../../img/arrow-white.svg');
    }

    transition: 0.2s;
}

.signup-button:hover {
    color: $brown;
}

.signup-button:active {
    opacity: 0.7;
}

.functions {
    flex: 0 1 36.5%;
    margin-left: 5.5rem;
}

.functions-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 165px;
    margin-top: 3.1rem;
}

.functions-list__item {
    flex: 0 1 25%;
    padding-right: 15px;
}

.functions-list__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    text-decoration: none;
    transition: 0.2s;
    color: $white;
}

.functions-list__link:hover {
    color: $brown;
}

.functions-list__link:active {
    opacity: 0.7;
}

.socials {
    margin-left: auto;
    flex: 0 1 8%;
}

.socials-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 165px;
    margin-top: 3.1rem;
}

.socials-list__item {
    flex: 0 1 25%;
}


.socials-list__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    text-decoration: none;
    color: $white;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
    }

    transition: 0.2s;
}

.socials-list__link:hover {
    color: $brown;
}

.socials-list__link:active {
    opacity: 0.7;
}

.facebook {

    &:before {
        width: 8px;
        height: 15px;
        background: url("../../img/facebook.svg");
        left: -26px;
    }
}

.instagram {

    &:before {
        width: 15px;
        height: 15px;
        background: url("../../img/instagram.svg");
        left: -29px;
        top: 2px;
    }
}

.pinterest {

    &:before {
        width: 15px;
        height: 15px;
        background: url("../../img/pin.svg");
        left: -29px;
        top: 3px;
    }
}

.twitter {

    &:before {
        width: 15px;
        height: 13px;
        background: url("../../img/twitter.svg");
        left: -30px;
        top: 4px;
    }
}

@media (max-width: $desktop-width) {
    .footer {
        padding-top: 0.6rem;
        height: 100%;
        margin-top: 5.1rem;
    }

    .footer-container {
        flex-direction: row;
        height: 100%;
        padding: 0 2.8rem;
    }

    .singup {
        flex: 0 1 100%;

    }

    .singup-title {
        padding-left: 0;
        margin-top: 2.5rem;
    }

    .singup-field {

        &::after {
            width: 82.6%;
            left: 0;
        }
    }

    .singup-text {
        padding-left: 0.1rem;
    }

    .singup-input {
        margin-left: 0;
    }

    .signup-button {
        margin-right: 10rem;
    }

    .functions {
        flex: 0 1 67.5%;
        margin: 0;
    }

    .socials {
        margin: 0;
        margin-left: 1.8rem;
    }

}

@media (max-width: $tablet-width) {
    .footer {
        margin-top: 1.6rem;
    }

    .footer-container {
        padding: 0 1rem;
    }

    .singup-field {
        margin-top: 2.6rem;

        &::after {
            width: 100%;
        }
    }

    .singup-input {
        padding: 0;
    }

    .signup-button {
        margin: 0;
        margin-left: auto;
        margin-right: 2.7rem;
    }

    .singup-title {
        padding-right: 4rem;
    }

    .singup-text {
        margin-top: 0.9rem;
        padding-left: 0;
        padding-right: 3rem;
    }

    .functions {
        flex: 0 1 100%;
        margin: 0;
        height: 100%;
    }

    .functions-list {
        height: 100%;
        margin-top: 3.8rem;
    }

    .functions-list__item {
        flex: 0 0 auto;
        height: 2.8rem;
    }


    .socials {
        flex: 0 1 100%;
        margin: 0;
        height: 50px;
    }

    .socials-list {
        flex-direction: row;
        height: 100%;
        margin-top: 0;
    }

    .socials-list__item {
        flex: 0 1 16%;
    }

    .socials-list__link span {
        display: none;
    }

    .facebook {

        &:before {
            width: 8px;
            height: 15px;
            background: url("../../img/facebook.svg");
            left: 1px;
            top: 21px;
            transform: scale(1.5);
        }
    }

    .instagram {

        &:before {
            width: 15px;
            height: 15px;
            background: url("../../img/instagram.svg");
            left: -2px;
            top: 20px;
            transform: scale(1.3);
        }
    }

    .pinterest {

        &:before {
            width: 15px;
            height: 15px;
            background: url("../../img/pin.svg");
            left: 1px;
            top: 19px;
            transform: scale(1.3);
        }
    }

    .twitter {

        &:before {
            width: 15px;
            height: 13px;
            background: url("../../img/twitter.svg");
            left: 6px;
            top: 22px;
            transform: scale(1.3);
        }
    }
}
