.grid {
    margin-top: 11.1rem;
    text-align: center;
}

.grid-title {
    font-family: "Cormorant";
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
    color: $dark;
    margin-bottom: 0;
}

.grid-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $dark;
    text-decoration: none;

    display: inline-block;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $brown;
        bottom: -4px;
        left: 0;
    }

    transition: 0.3s;
    margin-top: 2rem;
}


.grid-body {
    display: grid;
    grid-template-columns: 1fr 399px 1fr 1fr;
    grid-template-rows: 1f 1fr;
    margin-top: 4rem;
    row-gap: 35px;
    padding: 0 10px;
}

.grid-block {
    max-width: 100%;
    height: 230px;
    text-align: end;
}

.grid-block--1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: left;
}

.grid-block--2 {
    grid-row: 2 / 3;
    height: 150px;
    text-align: left;
}

.grid-block--3 {
    max-width: 100%;
    height: 412px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.grid-block--4 {
    grid-column: 3 / 4;

}

.grid-block--5 {
    grid-column: 3 / 4;
    height: 150px;
}

.grid-block--6 {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

.grid-block--7 {
    height: 150px;
}

@media (max-width: $desktop-width) {
    .grid {
        margin-top: 8.9rem;
    }

    .grid-link {
        margin-top: 1.2rem;
    }

    .grid-body {
        grid-template-columns: 1fr 231px 1fr 1fr;
        margin-top: 4rem;
        row-gap: 21px;
        padding: 0 46px;
        height: 100%;
    }

    .grid-block {
        max-width: 100%;
        height: 133px;
        text-align: end;
    }

    .grid-block--1 {
        text-align: left;
    }

    .grid-block--2 {
        height: 87px;
        text-align: left;
        max-width: 100%;
    }

    .grid-block--3 {
        max-width: 100%;
        height: 240px;
    }

    .grid-block--4 {
        max-width: 100%;
    }

    .grid-block--5 {
        height: 87px;
    }

    .grid-block--6 {
        max-width: 100%;
    }

    .grid-block--7 {
        height: 87px;
    }

    .grid-block--1 img,
    .grid-block--2 img,
    .grid-block--4 img,
    .grid-block--5 img,
    .grid-block--6 img,
    .grid-block--7 img {
        max-width: 89%;
    }
}

@media (max-width: $tablet-width) {
    .grid {
        margin-top: 10.8rem;
    }

    .grid-link {
        margin-top: 1.2rem;
    }

    .grid-body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 87px 1fr;
        margin-top: 3.2rem;
        row-gap: 26px;
        padding: 0 16px;
    }

    .grid-block {
        max-width: 100%;
        height: 133px;
        text-align: end;
    }

    .grid-block--1 {
        text-align: left;
    }

    .grid-block--2 {
        height: 87px;
        text-align: left;
        max-width: 100%;
    }

    .grid-block--3 {
        max-width: 100%;
        grid-row: 1 / 3;
        height: 247px;
    }

    .grid-block--4 {
        display: none;
    }

    .grid-block--5 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        text-align: left;
        height: 87px;
    }

    .grid-block--6 {
        display: none;
    }

    .grid-block--7 {
        height: 87px;
    }

    .grid-block--1 img,
    .grid-block--2 img,
    .grid-block--5 img,
    .grid-block--7 img {
        max-width: 92%;
    }

    .grid-block--3 img {
        min-height: 100%;
        max-width: 91%;
        object-fit: cover;
    }
}
