.header {
    width: 100%;
    padding-top: 1.1rem;

}

.header-burger {
    display: none;

}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.header-top__search label {
    position: relative;
    padding-left: 1.7rem;

    &::before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background: url("../../img/search.svg");
        left: 0;
        top: 4px;
    }
}

.header-top__logo {
    position: relative;
    top: 0.8rem;
    right: 2.8rem;
}

.header-top__input {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark;

    border: none;

    &::placeholder {
        color: $grey;
    }
}

.header-bottom {
    margin-top: 2.8rem;
}

.header-bottom__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header-bottom__item {
    padding: 0 1rem;

    &:last-child {
        padding-right: 0;
        padding-left: 1.4rem;
    }
}

.header-bottom__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark;
    text-decoration: none;

    transition: 0.2s;
}

.header-bottom__link:hover {
    color: $brown;
}

.header-bottom__link:active {
    opacity: 0.7;
}

@media (max-width: $desktop-width) {
    .header {
        padding-top: 1.8rem;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.45rem;
    }

    .header-burger {
        display: block;
        background-color: $white;
        border: none;
    }

    .header-top {
        display: block;
        padding: 0;
    }

    .header-top__search {
        display: none;
    }

    .header-top__logo {
        top: 0;
        right: 0.13em;
    }

    .header-bottom {
        display: none;
    }
}

@media (max-width: $tablet-width) {
    .header {
        padding-top: 0.8rem;
    }

    .header-container {
        padding: 0 0.5rem;
    }

    .header-top__logo img {
        transform: scale(0.8);
    }
}
