.filter {
    flex: 0 1 21.4%;
    display: flex;
    flex-direction: column;
}

.filter-close {
    display: none;
}

.filter-container {
    position: relative;
    border-bottom: 1px solid $brown;
}

.filter-wrapper {
    border-top: 1px solid $brown;
    border-left: 1px solid $brown;
    border-right: 1px solid $brown;
    width: 100%;
}

.filter-accordion {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    padding: 1.5rem 1.6rem 1.4rem 1.6rem;
}

.filter-accordion:after {
    right: 1.55rem;
    top: 1.8rem;
}

.filter-panel {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.active + .filter-panel {
    margin-bottom: 1.7rem;
}

.filter-panel label {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: $dark;
    padding-left: 2.6rem;
    position: relative;
}

.filter-label {
    padding-left: 1.2em;
}

.filter-input {
    appearance: none;
    position: absolute;
}

.filter-checkbox {
    position: absolute;
    margin-top: 0.1rem;
    margin-left: -1.6rem;
    width: 15px;
    height: 15px;
    overflow: hidden;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid $brown;
}

.filter-input:checked +.filter-checkbox {
    background-color: $brown;
}

.filter-range {
    padding: 0;
}

.active + .filter-range  {
    position: relative;
    min-height: 53px;
    margin-top: 0;
    background-color: $white;
    opacity: 1;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 10px;
}

.active + .filter-range hr {
    position: absolute;
    width: 80.5%;
    height: 1px;
    background-color: $background-grey;
    opacity: 1;
    z-index: 2;
    top: 13px;
    left: 25px;
    margin: 0;
    border: 0;
}

.active + .filter-range p {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: $dark;
}

.active + .filter-range p:nth-child(n) {
    top: 12px;
    left: 164px;
}

.active + .filter-range p:nth-child(2n) {
    left: 62px;
}

.active + .filter-range hr::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: $brown;
    left: 50px;
}
.active + .filter-range::after,
.active + .filter-range::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 69px;
    width: 15px;
    height: 15px;
    background-color: $brown;
    border-radius: 50%;
    z-index: 3;
}

.active + .filter-range::before {
    left: 174px;
}

.filter-apply {
    width: 100%;
    height: 68px;
    border: none;
    background-color: $brown;
    color: $white;
    border: 1px solid $brown;
    margin-top: 35px;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.filter-apply:hover {
    background-color: $white;
    color: $brown;
}

.filter-clearall {
    width: 100%;
    height: 68px;
    background-color: $white;
    border: 1px solid $brown;
    color: $dark;
    margin-top: 25px;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.filter-clearall:hover {
    background-color: $brown;
    color: $white;
}

@media(max-width: $desktop-width) {
    .filter {
        display: none;
    }

    .opened {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 1.8rem;
        background-color: $white;
        overflow: hidden;
    }

    .filter-close {
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 11px;
        right: 42.8%;
        border: none;
        padding: 0;
        z-index: 1;
    }

    .opened .filter-accordion {
        padding: 2rem 1.4rem 1.5rem;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
    }

    .filter-accordion:after {
        right: 3.15rem;
        top: 2.5rem;
    }

    .filter-wrapper {
        border: none;
        width: 55%;
        max-width: 442px;
    }

    .active + .filter-range {
        min-height: 140px;
        margin-bottom: 2rem;
    }

    .filter-panel {
        gap: 18px;
    }

    .filter-panel label {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
    }

    .filter-checkbox {
        margin-top: 0;
        margin-left: -1.8rem;
        width: 17px;
        height: 17px;
    }

    .active+.filter-range hr {
        position: absolute;
        width: 80.5%;
        height: 1px;
        background-color: #f0eae4;
        opacity: 1;
        z-index: 2;
        top: 19px;
        left: 25px;
        margin: 0;
        border: 0;
    }

    .active + .filter-range hr::after {
        content: "";
        position: absolute;
        width: 32%;
        height: 1px;
        background-color: #a87b62;
        left: 50px;
    }

    .active+.filter-range hr::after {
        left: 59px;
        width: 51%;
    }
    .active+.filter-range::after,
    .active+.filter-range::before {
        top: 11px;
        width: 18px;
        height: 18px;
    }

    .active+.filter-range::after {
        left: 76px;
    }

    .active+.filter-range::before {
        left: 252px;
    }

    .active+.filter-range p:nth-child(n) {
        top: 22px;
        left: 242px;
        font-style: 16px;
    }

    .active+.filter-range p:nth-child(2n) {
        left: 69px;
    }

    .filter-apply,
    .filter-clearall {
        width: 55%;
        max-width: 442px;
    }
}

@media(max-width: $tablet-width) {
    .opened {
        padding-top: 4.3rem;
    }

    .opened .filter-accordion {
        padding: 1.9rem 1.4rem 1rem;
    }

    .filter-wrapper {
        max-width: 100%;
        width: 100%;
        padding: 0 1.4rem;
    }

    .filter-accordion:after {
        right: 1.7rem;
    }

    .filter-close {
        top: 7.7%;
        right: 4.7%;
    }

    .active + .filter-panel {
        margin-top: 0.5rem;
        margin-bottom: 1.3rem;
    }

    .active+.filter-range {
        min-height: 75px;
        margin-bottom: 0rem;
    }

    .active + .filter-range hr {
        top: 27px;
    }

    .active+.filter-range hr::after {
        left: 37px;
        width: 63%;
    }

    .active+.filter-range::after,
    .active+.filter-range::before {
        top: 19px;
    }

    .active+.filter-range::before {
        left: 191px;
    }

    .active+.filter-range::after {
        left: 53px;
    }

    .filter-panel label {
        padding-left: 2.8rem;
    }

    .active+.filter-range p:nth-child(n) {
        top: 30px;
        left: 181px;
        font-style: 16px;
    }

    .active+.filter-range p:nth-child(2n) {
        left: 45px;
    }

    .filter-apply, .filter-clearall {
        width: 72%;
        margin: 0 auto;
        max-width: 100%;
    }

    .filter-apply {
        margin-top: 2.1rem;
    }

    .filter-clearall {
        margin-top: 1.3rem;
    }
}
