@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";
@import "scaffolding.scss";

//INDEX
//MAIN
@import "main/main.scss";
@import "main/header.scss";
@import "main/footer.scss";
@import "main/options.scss";
@import "main/promo.scss";
@import "main/accordion.scss";
@import "main/slider.scss";
@import "main/blog.scss";
@import "main/grid.scss";

//CATALOG
@import "catalog/catalog.scss";
@import "catalog/catalog-promo.scss";
@import "catalog/filter.scss";
@import "catalog/products.scss";