//Template Colors
//Можно добавлять цвета из темы
$white: #FFFFFF;
$opacity-white: rgba(255, 255, 255, 0.1);
$opacity-dark: rgba(27, 45, 55, 0.8);;
$black: #000000;
$opacity-black: rgba(0, 0, 0, 0.1);
$dark: #1D1613;
$dark-blue: #203C42;
$text-dark: #48494D;
$text-black: #666666;
$green-blue: #0AD9C6;
$green-blue-hover: #089c8e;
$grey: #9B9997;
$border-grey: #EBEBEB;
$light-grey: #626962;
$skyblue: #00B2FF;
$background-grey: #F6F6F6;
$background-white: #F6F7F9;
$brown: #A87B62;
//Template breakpoints
$mobile-width: 320px;
$mobile-width-max: 575px;
$tablet-width: 767px;
$desktop-width: 1023px;
$desktop-width-max: 1190px;
//Template retina media
$retina-dpi: 144dpi;
$retina-dppx: 2dppx;
//Template Fonts for BODY
$main-fonts: "Poppins", "Arial", sans-serif;
$sec-fonts: "PT Mono", "Arial", sans-serif;
$main-font-size: 17px;
$main-font-weight: 500;
